@import "flowbite";

@import "tailwindcss/preflight";
@tailwind utilities;

:root {
	--bg: #0f1720;
	--card: #0b1220;
	--muted: #94a3b8;
	--accent: #60a5fa;
	--fg: #e6eef8;
}

body {
	background: linear-gradient(180deg, #071025 0%, #081426 100%);
	color: var(--fg);
	font-family: Inter, system-ui, Arial;
}
